#### Part 0: Creating Datasets

In [39]:
from sklearn import datasets
iris = datasets.load_iris()
s1 = 1
s2 = 9
s3 = 2
s4 = 0
s5 = 2
s6 = 5
s7 = 3

In [40]:
import numpy as np
Stest = np.array([[s1,s2,s3,s4,s5,s6,s7],[s2,s3,s4,s5,s6,s7,s1],[s3,s4,s5,s6,s7,s1,s2],[s4,s5,s6,s7,s1,s2,s3]])
Stest = Stest/np.array([2.3,4,1.5,4]).reshape(-1,1)
Xtest = Stest+np.array([4,2,1,0]).reshape(-1,1)
print(Xtest)

[[4.43478261 7.91304348 4.86956522 4.         4.86956522 6.17391304
  5.30434783]
 [4.25       2.5        2.         2.5        3.25       2.75
  2.25      ]
 [2.33333333 1.         2.33333333 4.33333333 3.         1.66666667
  7.        ]
 [0.         0.5        1.25       0.75       0.25       2.25
  0.5       ]]

#### Part 1: k-Nearest-Neighbour Classifier

In [19]:
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris
iris = load_iris()
X = iris.data
y = iris.target
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

Xtest1 = [Xtest[:,i] for i in range(7)]
print ("when k = 3, the class for each sample in Xtest: ", knn.predict(Xtest1))

when k = 3, the class for each sample in Xtest:  [0 0 1 1 1 0 2]

In [20]:
knn7 = KNeighborsClassifier(n_neighbors=7)
knn7.fit(X_train, y_train)
print ("when k = 7, the class for each sample in Xtest: ", knn7.predict(Xtest1))

when k = 7, the class for each sample in Xtest:  [0 0 1 1 0 0 2]

#### Part 2: Discriminant Functions

In [22]:
import numpy as np
import pandas as pd

In [23]:
a = [1,0,0] ## initial  
b = np.array([s1,s2,s3,s4,s5,s6,s1,s2,s3,s4,s5,s6])  
y = np.array([[1,0,2],[1,1,2],[1,2,1],[-1,3,-1],[-1,2,1],[-1,3,2],[1,0,2],[1,1,2],[1,2,1],[-1,3,-1],[-1,2,1],[-1,3,2]])  
ay = []
new = []
aa = [a]    

for i in range(12):    
    ay.append(np.dot(a,y[i]))
    a_new = a+0.1*(b[i]-ay[i])*y[i]
    aa.append(a_new.round(4))
    new.append(a_new.round(4))
    a = a_new
b = list(b)
y = list(y)
df2 = pd.DataFrame(list(zip(aa, y, ay, new)), columns = ['a','yk','ay','a_new'])
df2

                           a           yk        ay                     a_new
0                  [1, 0, 0]    [1, 0, 2]  1.000000           [1.0, 0.0, 0.0]
1            [1.0, 0.0, 0.0]    [1, 1, 2]  1.000000           [1.8, 0.8, 1.6]
2            [1.8, 0.8, 1.6]    [1, 2, 1]  5.000000           [1.5, 0.2, 1.3]
3            [1.5, 0.2, 1.3]  [-1, 3, -1] -2.200000        [1.28, 0.86, 1.08]
4         [1.28, 0.86, 1.08]   [-1, 2, 1]  1.520000     [1.232, 0.956, 1.128]
5      [1.232, 0.956, 1.128]   [-1, 3, 2]  3.892000  [1.1212, 1.2884, 1.3496]
6   [1.1212, 1.2884, 1.3496]    [1, 0, 2]  3.820400  [0.8392, 1.2884, 0.7855]
7   [0.8392, 1.2884, 0.7855]    [1, 1, 2]  3.698600  [1.3693, 1.8185, 1.8458]
8   [1.3693, 1.8185, 1.8458]    [1, 2, 1]  6.852180  [0.8841, 0.8481, 1.3606]
9   [0.8841, 0.8481, 1.3606]  [-1, 3, -1]  0.299648   [0.914, 0.7582, 1.3905]
10   [0.914, 0.7582, 1.3905]   [-1, 2, 1]  1.992919  [0.9133, 0.7596, 1.3913]
11  [0.9133, 0.7596, 1.3913]   [-1, 3, 2]  4.148048  [0.8281, 1.0152, 1.5616]

#### Part 3: Neural Network

##### Part 3 - a

In [41]:
import pandas as pd

In [42]:
w = [s3,-s4,s5]   ## initial w
Xk = np.array([[1,0,2], [1,1,2], [1,2,1], [1,-3,1], [1,-2,-1], [1,-3,-2], [1,0,2], [1,1,2], [1,2,1], [1,-3,1], [1,-2,-1], [1,-3,-2]])  ## Xtk
Tk = [1,1,1,0,0,0,1,1,1,0,0,0]
hh=[]
new=[]
ww = [w]
for i in range(0,12):
    if np.dot(w,Xk[i])>0:
        H = 1 
    else:
        H = 0
    Wnew = w + 1*(Tk[i]-H)*Xk[i]
    w = Wnew
    hh.append(H)
    new.append(Wnew)
    ww.append(Wnew)
Xk = list(Xk)
df = pd.DataFrame(list(zip(ww, Tk, Xk, hh, new)), columns = ['W','Tk','Xk','H','Wnew'])
df

            W  Tk           Xk  H       Wnew
0   [2, 0, 2]   1    [1, 0, 2]  1  [2, 0, 2]
1   [2, 0, 2]   1    [1, 1, 2]  1  [2, 0, 2]
2   [2, 0, 2]   1    [1, 2, 1]  1  [2, 0, 2]
3   [2, 0, 2]   0   [1, -3, 1]  1  [1, 3, 1]
4   [1, 3, 1]   0  [1, -2, -1]  0  [1, 3, 1]
5   [1, 3, 1]   0  [1, -3, -2]  0  [1, 3, 1]
6   [1, 3, 1]   1    [1, 0, 2]  1  [1, 3, 1]
7   [1, 3, 1]   1    [1, 1, 2]  1  [1, 3, 1]
8   [1, 3, 1]   1    [1, 2, 1]  1  [1, 3, 1]
9   [1, 3, 1]   0   [1, -3, 1]  0  [1, 3, 1]
10  [1, 3, 1]   0  [1, -2, -1]  0  [1, 3, 1]
11  [1, 3, 1]   0  [1, -3, -2]  0  [1, 3, 1]

##### Part 3 - b

In [43]:
from sklearn.datasets import load_iris
iris = load_iris()
X = iris.data   ## training dataset
y = iris.target  ## class label

In [44]:
t = []   ## iris data modified class label
for i in y:
    if i == 0:
        t.append(1)
    else:
        t.append(0)
t = np.array(t)

In [17]:
Xk[0]

array([1. , 5.1, 3.5, 1.4, 0.2])

In [45]:
w = [s3,-s4,s5,-s6,s7]  ## initial weight [2, 0, 2, -5, 3]
Xk = np.c_[t.T, X]
h=[]  
w_new=[]
ww = [w]  ## weight

for j in range(2):
    for i in range(150):
        if np.dot(w,Xk[i]) >0:
            H = 1
        elif np.dot(w,Xk[i]) <0:
            H=0
        elif np.dot(w,Xk[i])  == 0:
            H = 0.5
        Wnew = w+0.1*(t[i]-H)*Xk[i]
        w=Wnew
        h.append(H)
        w_new.append(Wnew)
        ww.append(Wnew)
Xk = list(Xk)
df1 = pd.DataFrame(list(zip(ww, Xk, t, h, w_new)), columns = ['W','Xk','Tk', 'H','Wnew'])
df1
# df1.to_csv('2_b.xls')

,W,Xk,Tk,H,Wnew
0,"[2, 0, 2, -5, 3]","[1.0, 5.1, 3.5, 1.4, 0.2]",1,1,"[2.0, 0.0, 2.0, -5.0, 3.0]"
1,"[2.0, 0.0, 2.0, -5.0, 3.0]","[1.0, 4.9, 3.0, 1.4, 0.2]",1,1,"[2.0, 0.0, 2.0, -5.0, 3.0]"
2,"[2.0, 0.0, 2.0, -5.0, 3.0]","[1.0, 4.7, 3.2, 1.3, 0.2]",1,1,"[2.0, 0.0, 2.0, -5.0, 3.0]"
3,"[2.0, 0.0, 2.0, -5.0, 3.0]","[1.0, 4.6, 3.1, 1.5, 0.2]",1,1,"[2.0, 0.0, 2.0, -5.0, 3.0]"
4,"[2.0, 0.0, 2.0, -5.0, 3.0]","[1.0, 5.0, 3.6, 1.4, 0.2]",1,1,"[2.0, 0.0, 2.0, -5.0, 3.0]"
...,...,...,...,...,...
145,"[2.1, 0.48, 2.34, -4.81, 3.02]","[0.0, 6.7, 3.0, 5.2, 2.3]",0,0,"[2.1, 0.48, 2.34, -4.81, 3.02]"
146,"[2.1, 0.48, 2.34, -4.81, 3.02]","[0.0, 6.3, 2.5, 5.0, 1.9]",0,0,"[2.1, 0.48, 2.34, -4.81, 3.02]"
147,"[2.1, 0.48, 2.34, -4.81, 3.02]","[0.0, 6.5, 3.0, 5.2, 2.0]",0,0,"[2.1, 0.48, 2.34, -4.81, 3.02]"
148,"[2.1, 0.48, 2.34, -4.81, 3.02]","[0.0, 6.2, 3.4, 5.4, 2.3]",0,0,"[2.1, 0.48, 2.34, -4.81, 3.02]"
149,"[2.1, 0.48, 2.34, -4.81, 3.02]","[0.0, 5.9, 3.0, 5.1, 1.8]",0,0,"[2.1, 0.48, 2.34, -4.81, 3.02]"

##### Part 3-c

In [36]:
Xtest1 = [Xtest[:,i] for i in range(7)]

In [46]:
c = []
w = [0.48, 2.34, -4.81, 3.02]
for i in range(7):
    y = np.dot(w,Xtest1[i])+(-2.1)
    print(y)
    if y-(-s3) >0:
        c.append(1)
    else:
        c.append(0)
print(c)

5.9186956521739145
0.6265942028985516
-6.325000000000001
-6.642971014492749
-15.82891304347826
7.623115942028987
-27.33282608695652
[1, 1, 0, 0, 0, 1, 0]

In [47]:
Xtest = list(Xtest1)
pd.DataFrame({'Xtest' : Xtest, 'class' : c})

                                               Xtest  class
0               [4.434782608695652, 4.25, 1.0, 0.25]      1
1  [7.91304347826087, 2.0, 1.6666666666666665, 0.75]      1
2                              [4.0, 2.25, 3.0, 1.0]      0
3  [4.434782608695652, 2.75, 3.6666666666666665, ...      0
4                [5.304347826086957, 3.0, 5.0, 0.25]      0
5  [5.739130434782609, 3.5, 1.6666666666666665, 2...      1
6                [6.608695652173913, 2.25, 7.0, 0.0]      0